body{
    font-family: 'Peddana', serif;
}
header {
    font-size: 24px;
    line-height: 10px;
}
h1 {
    text-transform: uppercase;
}
h2 {
   font-style: italics; 
}
main {
    font-size: 20px;
}
footer {
}
