*{
    background-color: gainsboro
}
div,
span {
  background-color: var(--color-mint);
  border: 3px solid var(--color-slate);
  margin: 32px 8px;
  text-align: center;
}
.demo {
  border: 3px solid var(--color-slate);
}
    

  }
body{
    font-family: 'Josefin Sans', sans-serif;
    
}
header {
    font-size: 26px;
    line-height: 10px;
    color: rgba(255, 127, 80, 0.377);
    
}
h1 {  
}
h2 {
    font-size: 22px;
    font-style: italic;
    color:cornflowerblue;
    text-align: center

}
main {
    font-size: 18px;
    
    color: rgba(100, 148, 237, 0.329);
}
b {
    font-style: italic;
}
footer {
    font-size: 12px;
    font-style: italic;
    color: grey
}
