* {
  background-color: gainsboro;
}
div {
  text-align: center;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
header {
  font-size: 26px;
  line-height: 10px;
  color: rgb(250, 144, 144);
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-top: 10px;
  margin-right: 150px;
  margin-bottom: 10px;
  margin-left: 150px;
  background-color: black;
}
h1 {
}
h2 {
  font-size: 22px;
  font-style: italic;
  color: rgba(32, 72, 182, 0.671);
  text-align: center;
  background-color: black;
  
}
main {
  font-size: 18px;

  color: rgba(38, 66, 110, 0.76);
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-top: 10px;
  margin-right: 150px;
  margin-bottom: 10px;
  margin-left: 150px;
  
}
footer {
  font-size: 12px;
  font-style: italic;
  color: grey;
  background-color: white;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-top: 10px;
  margin-right: 150px;
  margin-bottom: 10px;
  margin-left: 150px;
  background-color: white;
}
